.feinman__link {
  position: absolute;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #000;
  top: 50%;
  right: 48px;
  transition: opacity .3s linear;
}

.feinman__link::after {
  content: " \2192";
}

.feinman__link:hover {
  opacity: 0.5;
}