@import url(./_place/logo_place_header.css);
@import url(./_place/logo_place_footer.css);

.logo {
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 183px;
  width: 100%;
  height: 32px;
  top: 30px;
}